@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
:root {
  

  color-scheme: light dark;



}

.outLet-height{
  height: calc(100% - (250px));
}
.active{
  /* color: #027d02;
  font-weight: bold; */
  @apply text-[#027d02] font-bold
}
